{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% if base %}
    <h1>{{ base.title }}</h1>
    <img src="{{ vich_uploader_asset(base, 'imageFile')|imagine_filter('squared_300_300') }}" alt="{{ base.title }}">
    {% for imageBase in base.imageBaseSlider  %}
        <img src="{{ vich_uploader_asset(imageBase, 'imageFile')|imagine_filter('squared_300_300') }}" alt="">
    {% endfor %}
    {% endif %}

</div>
{% endblock %}
